ul {
    list-style-type: none;
    overflow: hidden;
    background-color: #746d6d;
    li {
        float: left;
        a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
          }
      }
  }